<mat-card>
    <form (ngSubmit)="submitForm()" class="form form_regular" [formGroup]="bookFormGroup">
        <mat-form-field class="form__field" *ngFor="let field of bookFormGroup.controls | keyvalue" appearance="fill">
            <mat-label>{{formFieldNames[field.key]}}</mat-label>
            <input [type]="+bookMock[field.key] ? 'number': 'text'"  [formControlName]="field.key" matInput>
            
            <mat-error >this field is mandatory</mat-error>
            <mat-error *ngIf="+bookMock[field.key]">only numbers are allowed</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="!bookFormGroup.valid" type="submit">Submit</button>
        <button mat-raised-button color="primary"  (click)="closeForm()">Cancel</button>
    </form>

</mat-card>